.footnote-container {
  color: var(--background);
  display:inline-block;
  position:relative;
  text-indent:0;
}

.footnote-backdrop {
  cursor:pointer;
}

.footnote-button {
  background-color: var(--text);
  border-radius:.475em;
  border:0;
  cursor:pointer;
  display:inline-block;
  font-size:1rem;
  height:.95em;
  line-height:0;
  margin:0 .1em 0 .2em;
  padding:.35em;
  position:relative;
  transition-duration:.25s;
  transition-property:background;
  vertical-align:super;
  -webkit-transition-duration:.25s;
  -webkit-transition-property:background;
  width:1.5em;
  z-index:1;
}

.footnote-button:after {
  color: var(--background);
  content:attr(data-fn-number);
  display:block;
  font-size:.57em;
  font-weight:700;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  transition:color .25s ease;
  -webkit-transform:translate(-50%,-50%);
  -webkit-transition:color .25s ease;
}

.footnote-button:hover {
  background-color: var(--accent);
}

.footnote-button.is-active {
  transition-delay:.1s;
  -webkit-transition-delay:.1s;
}

.bf-footnote {
  border-radius:.25em;
  left:0;
  margin:2.2em 0;
  max-width:90vw;
  opacity:0;
  position:absolute;
  top:0;
  transform-origin:50% 0;
  transition-duration:.25s;
  transition-property:opacity;
  transition-timing-function:ease;
  -webkit-transform-origin:50% 0;
  -webkit-transition-duration:.25s;
  -webkit-transition-property:opacity;
  -webkit-transition-timing-function:ease;
  z-index:3;
}

.bf-footnote.footnote-is-active {
  opacity:.97;
}

.bf-footnote.footnote-is-top {
  bottom:0;
  top:auto;
}

.footnote-wrapper {
  background:inherit;
  border-radius:.25em;
  margin:0;
  max-width:100%;
  overflow:hidden;
  position:relative;
  width:22em;
  z-index:5;
}

.footnote-tooltip {
  background-color: var(--text);
  height:1.3em;
  position:absolute;
  top:-.49em;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  width:1.3em;
  z-index:4;
}

.footnote-is-top .footnote-tooltip {
  bottom:-.49em;
  top:auto;
}

.footnote-content {
  background-color: var(--text);
  color: var(--background);
  line-height:1.418em;
  max-height:15em;
  overflow:auto;
  padding:1em;
  position:relative;
  -webkit-font-smoothing:subpixel-antialiased;
  -webkit-overflow-scrolling:touch;
  z-index:2;
}

.footnote-content :first-child {
  margin-top:0;
  padding-top:0;
}

.footnote-content :last-child {
  margin-bottom:0;
  padding-bottom:0;
}