.hljs {
  color: var(--text);
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #CE5857;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #3891CE;
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--link);
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #982C5A;
}

.hljs-comment,
.hljs-quote {
  color: #949393;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #3891CE;
}

.hljs-literal {
  color: #58C1E0;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-strong {
  font-weight: bold;
}