body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  counter-reset: heading;
  margin: 0;
  padding: 1em 0.5em 0.5em 0.5em;
  color: #3d3d3d;
}

.main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 50em;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

h5 {
  font-size: .85em;
  font-weight: 400;
}

h6 {
  font-size: .75em;
  font-weight: 400;
}

img {
  max-width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
}

iframe {
  max-width: 42em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*li {
  margin-top: 0.5em;
}

p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}*/

a {
  color: #3d3d3d;
}

.post .content a {
  text-decoration: none;
  border-bottom: 1px solid #6DBDFE;
}

.post .content a:hover {
  border-bottom: 1px solid #39A4FE;
}


/* Head Nav  */
.header-bar {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.siteTitle {
  display: grid;
  font-size: 3.1em;
}

.brand {
  font-weight: 500;
}

.brand a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding-top: 0.2em;
}

.nav-item-title {
  font-weight: 400;
  font-size: .4em;
  border-bottom: 1.5px solid #6DBDFE;
  margin: 0 .3em;
}

.nav-item .nav-item-title {
  text-decoration: none;
}

.nav-item-title:hover {
  border-bottom: 1.5px solid #39A4FE;
}


/* Post Preview List */
.post-preview {
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 4em;
  margin: 0;
  display: grid;
}

.post-preview .title {
  font-size: 1.9em;
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
}

.post-preview a {
  text-decoration: none;
}

.post-preview .summary {
  font-size: 1em;
  line-height: 1.5em;
}

.post-preview .date {
  font-size: 0.9em;
  color: #999999;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}


/* Post */
.post {
  font-weight: 400;
  padding-bottom: 3em;
  margin: 0;
  display: grid;
}

.post .title {
  text-align: center;
  font-size: 1.9em;
  margin: 0;
  padding-bottom: 0.22em;
}

.post .content {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

.post .content {
  margin: 0.5em 0;
}

.post .meta {
  display: flex;
  justify-content: space-between;
  padding: 0.1em 0;
  text-decoration: none;
  font-size: 0.9em;
  color: #999999;
}


/* Archive */
.content-list {
  font-size: 1.2em;
  font-weight: 400;
}

.content-item {
  margin: 0.3em;
  padding-bottom: 0.5em;
}

.content-item a {
  text-decoration: none;
}

.content-item .date {
  font-size: 0.7em;
  white-space: nowrap;
  color: #bbb;
}

.post-list {
  display: flex;
  justify-content: space-between;
}

.post-list .title {
  margin: 0 0.1em;
  font-size: 1.15em;
  text-align: left;
}

/*.content-list-date {
  font-size: 1.15em;
  text-align: left;
}*/


/* Tags */
.tag a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: #999999;
}

.tag a:hover {
  color: #3d3d3d;
}

.terms a {
  text-decoration: none;
}

.term-title {
  font-weight: 400;
  text-align: left;
}


/* Page Navigation */
.page-nav {
  display: grid;
  padding: 1em;
  font-weight: 500;
  color: #999999;
}

.page-nav a {
  text-decoration: none;
}

.page-nav .page-prev a {
  color: #3d3d3d;
  display: flex;
  justify-content: flex-start;
}

.page-nav .page-next a {
  color: #3d3d3d;
  display: flex;
  justify-content: flex-end;
}


/* Footer */
.foot {
  display: grid;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding-top: 3em;
}

.social-links-footer {
  display: flex;
  justify-content: center;
}

.social-links-footer a {
  text-decoration: none;
}

.social-link {
  text-transform: uppercase;
  border-bottom: 1.5px solid #6DBDFE;
  margin: 0 0.3em;
}

.social-link:hover {
  border-bottom: 1.5px solid #39A4FE;
}

.copyright {
  font-weight: 400;
  text-decoration: none;
  color: #3d3d3d;
  text-align: center;
  margin: 1em 0;
  padding-top: 0.5em;
}

.copyright a {
  text-decoration: none;
}

.copyright a:hover {
  color: #39A4FE;
}

/* 404 */
.err-404 {
  margin: 3em;
  text-align: center;
}


/* Sitemap */
.sitemap {
    margin: auto;
    width: 50%;
}


/* Mobile Breakpoint */
@media only screen and (min-width: 400px) {

  nav {
    flex-flow: row wrap;
  }

  .post-preview .title {
    font-size: 1.9em;
  }

  .post-preview .summary {
    font-size: 1em;
  }

  .post-preview .date {
    font-size: 0.9em;
  }

}
