/* CUSTOM PROPERTIES */
:root {
  --background: #FCFBFB;
  --link: #D7545E;
  --accent: #000000;
  --text: #414142;
  --underline: 1.5px solid var(--accent);
}


/* BASE STYLING */
html {
  overflow: hidden;
  height: 100%;
  width: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  overflow: auto;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--background);
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 44rem) [main-end]
    minmax(1em, 1fr) [full-end];
}

body > * {
  grid-column: main;
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

ul,
ol {
  padding-left: 30px;
}

ol ul {
  padding-left: 20px;
}

ul {
  list-style-type: disc;
}

a {
  color: var(--accent);
  border-bottom: 1.5px dotted var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--link);
  border-bottom: 1.5px solid var(--link);
}

.content img {
  width: 100%;
}

/* Blinking Cursor Animation */
@-webkit-keyframes blinker {
 50% {
  opacity:0
 }
}

@keyframes blinker {
 50% {
  opacity:0
 }
}


/* HEADER  */
header {
  grid-column: full;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  margin: 15px auto;
  border-bottom: unset;
}

.icon:hover {
  border-bottom: unset;
}

.icon img {
  width: 100px;
  height: auto;
}

.nav-item {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 15px auto;
}

.nav-item .nav-link {
  border-bottom-style: solid;
  /* border-bottom: unset; */
}

.nav-link {
  margin: 0 15px;
  /* -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; */
}

/* POSTS */
.post {
  padding-bottom: 2.5rem;
  min-height: 62vh;
}

.post-preview {
  padding-bottom: 2.5rem;
  margin: 0;
}

.post-preview .content {
  padding: 1rem 0;
}

.title {
  font-size: 1.75em;
  text-align: center;
  margin: 0;
  padding: 0;
 }

.title a {
  border-bottom: unset;
}

.content {
  line-height: 26px;
}

.date {
  padding-top: 10px;
  text-align: center;
}

.tag {
  width: 100%;
  text-align: end;
}

.page-nav,
.date,
.tag {
  font-family: 'Rubik', sans-serif;
  color: var(--accent);
  font-size: 0.9rem;
}

.page-prev {
  text-align: left;
}

.page-next {
  text-align: right;
}

/* ARCHIVE */
.content-list {
  padding-bottom: 2.5rem;
}

.content-list-date {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.content-item {
  padding-bottom: 1rem;
}

/* FOOTER */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.social-item {
  margin: 0 10px;
  border-bottom: unset;
}

.social-item:hover {
  border-bottom: unset;
}

.social-item svg {
  width: auto;
  height: 25px;
  fill: var(--accent);
}

.social-item svg:hover {
  fill: var(--link);
  transition: fill .2s ease-in-out;
}

footer {
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
  font-size: 0.86rem;
  color: var(--accent);
}

.divider {
  margin: 0 5px;
}

footer .nav-link {
  margin: 0;
}


/* 404 */
.err-404 {
  text-align: center;
}