/*
A general sorting is used based on impact.
Elements are then styled using Meiert's updated blog post on "Element Sorting" (https://meiert.com/en/blog/how-to-order-css-selectors/).
Selectors are using very specific names, so I didn't see a need for commenting those for sorting.
*/

/* BASE */
:root {
  --accent: #000000;
  --background: #FCFBFB;
  --link: #D7545E;
  --text: #414142;
  --underline: 1.5px solid var(--accent);
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--text);
  display: -ms-grid;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 44rem) [main-end]
    minmax(1em, 1fr) [full-end];
  overflow-y: auto;
  overflow-x: hidden;
}

body > * {
  grid-column: main;
}

header {
  flex-direction: column;
  grid-column: full;
  padding: 1rem 1rem 3rem;
  text-transform: uppercase;
}

a:hover {
  transition: color .2s ease;
}

a:hover svg {
  fill: var(--link);
  transition: fill .2s ease;
}

.nav-item {
  border-bottom: 1.5px solid var(--accent);
}


/* LAYOUT */
header,
footer,
.nav-menu,
.social-menu,
.err-404 {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

header,
footer,
.social-menu,
.err-404 {
  justify-content: center;
}

body,
.main-content {
  height: 100%;
}

footer {
  padding: 2.5rem 0;
}

main,
.post {
  min-height: calc(100vh - 400px);
}

ul,
ol {
  padding-left: 30px;
}

ol ul {
  padding-left: 20px;
}

img, 
svg {
  width: auto;
}

a svg {
  height: 25px;
}

.avatar,
.brand,
.nav-menu {
  margin: 10px auto;
}

.nav-item,
.social-item {
  margin: 0 10px;
}

.post-title,
footer .nav-item {
  margin: 0;
}

.post-content img,
.post-tag {
  width: 100%;
}

.post,
.post-preview,
.content-list,
.content-list-date {
  padding-bottom: 2.5rem;
}

.post-preview .post-content {
  padding: 1rem 0;
}

.post-date {
  padding-top: 10px;
}

.content-item {
  padding-bottom: 1rem;
}

.page-prev {
  float: left;
}

.page-next {
  float: right;
}

/* Back to homepage icon */
.return {
  grid-column: full;
  margin: 20px 0 0 20px;
}

.return svg {
  height: 50px;
}
/****/

.err-404 {
  min-height: calc(100vh - 150px);
}

.err-404 img {
  max-height: 600px;
}


/* STYLING */
header,
h1, h2, h3, h4 {
  font-weight: 700;
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: none;
}

header,
footer,
h1, h2, h3, h4,
.page-nav,
.post-date,
.post-tag {
  font-family: 'Rubik', sans-serif;
}

footer,
h1, h2, h3, h4,
a,
.page-nav,
.post-date,
.post-tag {
  color: var(--accent);
}

a:hover,
.brand {
  color: var(--link);
}

.brand,
.post-title {
  font-size: 2rem;
}

.avatar svg {
  fill: unset;
  height: 100px;
}

.avatar svg:hover {
  fill: unset;
}

.post-title a:hover {
  transition: color .2s ease-in-out;
}

.post-title,
.post-date,
.content-list-date {
  text-align: center;
}

.post-content {
  line-height: 26px;
}

.post-content li > a,
.post-content p > a {
  border-bottom: 1.5px dotted var(--accent);
}

.post-content li > a:hover,
.post-content p > a:hover,
.nav-item:hover {
  border-bottom: 1.5px solid var(--link);
}

.post-tag {
  text-align: end;
}

.content-list-date {
  font-size: 1.85rem;
}