{{ define "main" }}
  <main class="list bookshelf">
    <h1 class="title page-title">{{ .Name }}</h1>
    <nav class="all-tags">
      {{ $s := .Section }}
      {{ $nr := lower .Name }}
      {{ $n := replaceRE "[[:space:]]" "-" $nr }}
      {{ range $name, $taxonomy := .Site.Taxonomies.genre }}
        <p class="{{ if eq $name $n }}hidden {{ end }}tag"><span>#</span><a class="meta" href="/bookshelf/{{ $s }}/{{ $name }}">{{ $name }}</a></p>
      {{ end }}
    </nav>
    <section class="book-list">
      {{ range .Data.Pages.GroupByDate "2006-01-02" }}
        {{ range .Pages }}
          {{ .Render "li"}}
        {{ end }}
      {{ end }}
    </section>
  </main>
{{ end }}