backend:
  name: github
  repo: theverylastjuan/clever-laziness
  branch: master

publish_mode: editorial_workflow

media_folder: "static/img"
public_folder: "img"

collections:
- name: "blog" 
  label: "Blog" 
  folder: "content/post/blog" 
  create: true 
  slug: "{{year}}-{{month}}-{{day}}-{{slug}}" 
  fields: 
    - {label: "Layout", name: "layout", widget: "hidden", default: "blog"}
    - {label: "Title", name: "title", widget: "string"}
    - {label: "Publish Date", name: "date", widget: "datetime"}
    - {label: "Featured Image", name: "thumbnail", widget: "image"}
    - {label: "Rating (scale of 1-5)", name: "rating", widget: "number"}
    - {label: "Body", name: "body", widget: "markdown"}