.footnote-container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}
.footnote-backdrop {
  cursor: pointer;
}
.footnote-button {
  @extend %relative;
  @include color(background, button);
  border: 0;
  border-radius: .475em;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: .95em;
  line-height: 0;
  margin: 0 .1em;
  padding: .35em;
  top: -.2em;
  transition-duration: .25s;
  transition-property: background;
  vertical-align: super;
  width: 1.5em;
  z-index: 5;
  &:after {
    @extend %absolute;
    @include color(background, meta);
    content: attr(data-fn-number);
    display: block;
    font-size: .57em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color .25s ease;
  }
  &:hover {
    @include color(background, meta);
    outline: none;
  }
  &.is-active {
    @include color(background, meta);
    transition-delay: .1s;
  }
}
.bf-footnote {
  @extend %absolute;
  @include color(background, background);
  border: 1px solid;
  @include color(border-color, text);
  border-radius: .25em;
  left: 0;
  margin: 1.618em 0;
  max-width: 90vw;
  opacity: 0;
  top: 3px;
  transform-origin: 50% 0;
  transition-duration: .25s;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 10;
  &.footnote-is-active {
    opacity: .97;
  }
  &.footnote-is-top {
    bottom: 0;
    top: auto; 
  }
}
.footnote-wrapper {
  @extend %relative;
  background: inherit;
  border-radius: .25em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  width: 22em;
  z-index: 14;
}
.footnote-tooltip {
  @extend %absolute;
  background: inherit;
  border: 1px solid;
  @include color(border-color, text);
  height: 1.3em;
  top: -.49em;
  transform: rotate(45deg);
  width: 1.3em;
  z-index: 12;
  .footnote-is-top & {
    bottom: -.49em;
    top: auto;
  }
}
.footnote-content {
  @extend %relative;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.618em - .2em;
  max-height: 15em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  z-index: 8;
  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
