// Theme definitions
$dark: (
  accent: #2EB88C,
  background: #12151B,
  box: 8px 8px 0 0 #71ADBC,
  link: #71ADBC,
  meta: #F2815A,
  text: #9DA1B4,
);
$light: (
  accent: #21232E,
  background: #fff,
  box: 8px 8px 0 0 #545454,
  link: #8F3A6D,
  meta: #545454,
  text: #424352,
);
@mixin color($property, $varName) {
  #{$property}: map-get($light, $varName);
  #{$property}: var(--#{$varName}, map-get($light, $varName));
}