@import 'colors';
@import 'fonts';
@import 'extends';
@import 'mixins';
@import 'reset';
*,
*::before,
*::after {
  box-sizing: inherit;
}
*::selection {
  @include color(background, button);
  color: #fff;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  @include color(background-color, background);
  @include color(color, text);
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  // Types
  &#dyslexic {
    font-family: 'Dyslexic', sans-serif;
    font-size: 16px;
  }
  &#rubik {
    font-family: 'Rubik', sans-serif;
  }
  // Themes
  &.black {
    --background: #{map-get($black, background)};
    --border: #{map-get($black, border)};
    --button: #{map-get($black, button)};
    --content: #{map-get($black, content)};
    --contentBG: #{map-get($black, contentBG)};
    --text: #{map-get($black, text)};
    --meta: #{map-get($black, meta)};
    --link: #{map-get($black, link)};
  }
  &.dark {
    --background: #{map-get($dark, background)};
    --border: #{map-get($dark, border)};
    --button: #{map-get($dark, button)};
    --content: #{map-get($dark, content)};
    --contentBG: #{map-get($dark, contentBG)};
    --text: #{map-get($dark, text)};
    --meta: #{map-get($dark, meta)};
    --link: #{map-get($dark, link)};
  }
  &.light {
    --background: #{map-get($light, background)};
    --border: #{map-get($light, border)};
    --button: #{map-get($light, button)};
    --content: #{map-get($light, content)};
    --contentBG: #{map-get($light, contentBG)};
    --text: #{map-get($light, text)};
    --meta: #{map-get($light, meta)};
    --link: #{map-get($light, link)};
  }
  @media screen and (prefers-color-scheme: dark) {
    &.black {
      --background: #{map-get($black, background)};
      --border: #{map-get($black, border)};
      --button: #{map-get($black, button)};
      --content: #{map-get($black, content)};
      --contentBG: #{map-get($black, contentBG)};
      --text: #{map-get($black, text)};
      --meta: #{map-get($black, meta)};
      --link: #{map-get($black, link)};
    }
  }
  // Header
  header#header {
    @extend %content-space-between;
    @extend %flex-column;
    @extend %items-center;
    @extend %relative;
    min-height: 72px;
    @supports (display:grid) {
      display: grid;
      grid-row-gap: 15px;
      grid-template-columns: auto;
      grid-template-rows: 50px 25px;
      justify-content: center;
      @include media-query-max(450px) {
        grid-template-rows: 45px 25px;
      }
      @include media-query-max(365px) {
        grid-template-rows: 35px 25px;
        padding-bottom: 0;
      }
    }
    a.home {
      @extend %content-flex-start;
      @extend %flex;
      @extend %items-center;
      @extend %decoration-none;
      height: 50px;
      @supports (display:grid) {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
      }
      @include media-query-max(450px) {
        height: 45px;
      }
      @include media-query-max(365px) {
        height: 35px;
      }
      svg,
      img {
        height: 50px;
        width: auto;
        @include media-query-max(450px) {
          height: 45px;
        }
        @include media-query-max(365px) {
          height: 35px;
        }
      }
      img {
        margin: 0 2px;
      }
    }
    nav.navbar {
      width: 330px;
      @supports (display:grid) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      @include media-query-max(365px) {
        width: 270px;
      }
      a {
        @extend %decoration-none;
        font-size: 1.15rem;
        transition: text-decoration 0.5s ease;
        @include media-query-max(365px) {
          font-size: 1rem;
        }
        &.rss,
        &.twitter {
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          @extend %decoration-none;
          height: 15px;
          width: 15px;
          svg {
            height: 15px;
            width: 15px;
          }
        }
        &.rss {
          @include media-query-max(700px) {
            grid-column: 3/4;
          }
        }
        &.twitter {
          @include media-query-max(700px) {
            grid-column: 2/3;
          }
        }
      }
    }
  }
  // List
  main.list {
    min-height: calc(100vh - 198px);
    h1.page-title {
      margin-bottom: 15px;
    }
    nav.all-tags {
      @extend %content-flex-start;
      @extend %flex;
      @extend %flex-wrap;
      @extend %items-center;
      margin-bottom: 20px;
      width: auto;
      p.tag {
        margin-right: 15px;
        font-style: italic;
        span {
          @include color(color, meta);
        }
      }
    }
    &.articles nav.all-tags p.tag:first-child,
    &.tags nav.all-tags p.tag:first-child {
      @extend %none;
    }
    article {
      padding: 0;
      margin-bottom: 30px;
      h1, h2, p {
        margin-bottom: 15px;
      }
      .title {
        font-size: 1.8rem;
        margin: 0 0 15px;
        a {
          @extend %decoration-none;
          font-size: 1.8rem;
        }
      }
      p.tag {
        @extend %content-flex-start;
        @extend %flex;
        @extend %items-flex-start;
        margin: 0;
        span:nth-child(n+2) {
          margin-right: 3px;
        }
      }
      time.date {
        @include color(color, meta);
        line-height: 1.6rem;
        margin-right: 5px;
        min-width: 100px;
      }
      div.meta-info {
        @extend %content-space-between;
        @extend %flex;
        @extend %flex-wrap;
        @extend %items-flex-start;
      }
    }
  }
  // Bookshelf
  main.bookshelf {
    section.book-list {
      @extend %content-space-between;
      @extend %flex;
      @extend %flex-wrap;
      @extend %items-center;
      @include color(border-top-color, border);
      border-top-style: solid;
      border-top-width: 1.5px;
      padding-top: 15px;
      margin: 15px 0 0;
      @supports (display:grid) {
       @extend %grid;
       grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
       grid-auto-rows: 265px;
       grid-gap: 30px;
      }
      @include media-query-max(370px) {
        justify-content: center;
      }
    }
  }
  // Bookmarks
  nav.categories {
    .tag {
      @extend %content-center;
      @extend %flex;
      @extend %items-center;
      margin-right: 15px;
      > * {
        font-style: italic;
      }
      span {
        @include color(color, meta);
        margin: 0;
      }
      input {
        @extend %none;
        &:checked ~ label {
          text-decoration: underline;
        }
      }
      label {
        @include color(color, link);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      svg {
        @include color(fill, meta);
        height: 16px;
        width: 16px;
      }
      &.close {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: auto;
        outline: none;
        transform: scale(0);
        transition: all .25s ease;
        &.active {
          transform: scale(1);
        }
      }
    }
  }
  ul#records {
    @include color(border-top-color, border);
    border-top-style: solid;
    border-top-width: 1.5px;
    padding: 0;
    nav.sorting,
    li#record-item {
      @extend %content-flex-start;
      @extend %flex;
      @extend %flex-wrap;
      @extend %items-center;
      @include color(border-bottom-color, border);
      border-bottom-style: solid;
      border-bottom-width: 1.5px;
      margin: 0;
      padding: 5px;
      @include media-query-max(480px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
      }
      > * {
        @extend %full-width;
        margin: 0;
        padding: 0 5px;
        &:nth-child(1) {
          @extend %no-decoration;
          padding-left: 0;
          max-width: 450px;
          @include media-query-max(925px) {
            max-width: 100%;
          }
        }
        &:nth-child(2) {
          max-width: 335px;
          @include media-query-max(925px) {
            max-width: 434px;
          }
        }
        &:nth-child(3) {
          text-align: start;
          max-width: 100px;
        }
        @include media-query-max(925px) {
          padding: 0 !important;
        }
        @include media-query-max(573px) {
          max-width: 100% !important;
        }
      }
    }
    nav.sorting {
      @include color(background-color, contentBG);
      p {
        @include color(color, content);
        cursor: pointer;
        font-weight: bold;
        line-height: 1.6rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &#dyslexic {
    header {
      min-height: 75px;
      a#home {
        p {
          width: 110px;
        }
      }
      nav.navbar {
        width: 350px;
        a.rss {
          margin-top: 3px;
        }
      }
    }
    main {
      &.bookshelf {
        section.book-list {
          grid-auto-rows: 275px;
          article.book {
            height: 275px;
            p.author {
              line-height: 1.1rem;
            }
          }
        }
      }
      &.list {
        article.book-review {
          p.author,
          time.date {
            line-height: 1.1rem;
          }
        }
      }
    }
  }
  // Print
  @media print {
    header#header,
    footer#footer,
    section.stuff,
    div#ui-options,
    div.footnote-container,
    button.footnote-button {
      display: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    main.list {
      > * {
        color: #333;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.4rem;
      }
      h3 {
        font-size: 1.3rem;
      }
      h4 {
        font-size: 1.1rem;
      }
      h3, h4 {
        font-weight: normal;
      }
      a {
        color: #333;
        text-decoration: none;
        &.email::after {
          content: ': hi@cleverlaziness.com';
        }
      }
    }
  }
}