@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik),
       local(Rubik),
       url("fonts/Rubik.woff2") format("woff2"),
       url("fonts/Rubik.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: italic;
  src: local(Rubik-Italic),
       local(Rubik-Italic),
       url("fonts/Rubik-Italic.woff2") format("woff2"),
       url("fonts/Rubik-Italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: local(Rubik-Bold),
       local(Rubik-Bold),
       url("fonts/Rubik-Bold.woff2") format("woff2"),
       url("fonts/Rubik-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Plex Mono';
  font-weight: 400;
  font-style: normal;
  src: local(IBMPlexMono),
       local(IBMPlexMono),
       url("fonts/IBMPlexMono.woff2") format("woff2"),
       url("fonts/IBMPlexMono.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Plex Mono';
  font-weight: 400;
  font-style: italic;
  src: local(IBMPlexMonoItalic),
       local(IBMPlexMonoItalic),
       url("fonts/IBMPlexMonoItalic.woff2") format("woff2"),
       url("fonts/IBMPlexMonoItalic.woff") format("woff");
  font-display: swap;
}

body {
  font-family: 'Rubik', sans-serif;
}