// Import Dependencies
@import 'colors';
@import 'extends';
@import 'mixins';
// Footer
footer#footer {
  @extend %content-space-between;
  @extend %full-width;
  @extend %flex-column;
  @extend %items-center;
  @extend %margin-center;
  @extend %relative;
  min-height: 160px;
  max-width: 345px;
  padding-bottom: 30px !important;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %content-center;
    max-width: 100px;
    min-height: 30px;
    width: 100%;
    a,
    a svg {
      height: 30px;
      width: 30px;
    }
    a svg {
      margin: 0;
    }
    a.email {
      svg g path {
        fill: transparent;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      a {
        margin: 0 15px;
      }
    }
  }
  section.copy {
    @extend %flex;
    max-width: 315px;
    @include media-query-max(345px) {
      font-size: .95rem;
    }
    p {
      font-size: .9rem;
      font-weight: normal;
      margin: 0;
      @include media-query-max(345px) {
        font-size: .95rem;
      }
    }
  }
}
// Theme Switcher
body {
  div#ui-options {
    @extend %content-flex-start;
    @extend %flex;
    @extend %items-center;
    @include color(background, button);
    border: none;
    border-radius: 20px;
    bottom: 30px;
    flex-direction: row-reverse;
    outline: none;
    padding: 0;
    position: fixed;
    right: 15px;
    right: 10px;
    max-width: 310px;
    z-index: 10;
    @supports (display:grid) {
      @extend %grid;
      grid-template-columns: min-content 35px;
      grid-template-rows: 35px;
    }
    @include media-query-max(380px) {
      max-width: 300px;
    }
    > * {
      @supports (display:grid) {
        grid-row: 1/2;
      }
    }
    input#settings {
      @extend %none;
      &:checked ~ section.options {
        width: 265px;
        margin-left: 10px;
        @include media-query-max(380px) {
          width: 255px;
        }
      }
      &:checked ~ label.gear > svg {
        transform: rotate(-67.5deg);
      }
    }
    label.gear {
      @extend %content-center;
      @extend %flex;
      @extend %items-center;
      cursor: pointer;
      height: 35px;
      transition: all 0.3s ease;
      width: 35px;
      @supports (display:grid) {
        grid-column: 2/3;
      }
      svg {
        fill: #F6F7EE;
        height: 25px;
        transition: all 0.3s ease;
        width: 25px;
      }
    }
    section.options {
      @extend %content-center;
      @extend %flex;
      @extend %items-center;
      height: 35px;
      overflow: hidden;
      padding: 0;
      transition: all 0.3s ease;
      width: 0;
      @supports (display:grid) {
        @extend %grid;
        grid-column: 1/2;
        grid-template-columns: 125px 2.5px 135.5px;
      }
      div.divider {
        @include color(background-color, link);
        border-radius: 5px;
        height: 25px;
        margin: 0 auto;
        width: 1.5px;
        @supports (display:grid) {
          justify-self: center;
        }
      }
      nav {
        @extend %content-center;
        @extend %items-center;
        height: auto;
        padding: 0;
        @supports (display:grid) {
          @extend %grid;
          grid-column-gap: 8px;
        }
        p {
          @extend %content-center;
          @extend %flex;
          @extend %full-width;
          @extend %items-center;
          color: #F6F7EE;
          cursor: pointer;
          border-radius: 5px;
          font-size: 1rem;
          height: 22px;
          line-height: 1rem;
          margin: 0;
          padding: 2.5px 0;
          text-align: center;
          &:hover {
            text-decoration: underline;
          }
          &#rubik {
            font-family: 'Rubik', sans-serif;
            padding-left: 0;
          }
          &#dyslexic {
            font-family: 'Dyslexic', sans-serif;
            font-size: .9rem;
            line-height: .9rem;
            padding: 0 0 6px;
          }
          @supports (display:grid) {
            margin: 0 !important;
          }
        }
        &#fonts {
          @supports (display:grid) {
            grid-template-columns: repeat(2,auto);
          }
          p {
            margin-right: 8px;
            @include media-query-max(380px) {
              margin-right: 6px;
            }
          }
        }
        &#themes {
          @supports (display:grid) {
            grid-template-columns: repeat(3,auto);
          }
          p {
            margin-left: 8px;
            @include media-query-max(380px) {
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
  &#rubik {
    nav#fonts p#rubik {
      text-decoration: underline;
    }
  }
  &#dyslexic {
    div#ui-options {
      section.options {
        @supports (display:grid) {
          grid-template-columns: 125px 2.5px 145.5px;
        }
        nav p {
          font-size: .9rem;
          padding: 0 0 5px;
        }
        nav#fonts p#dyslexic {
          text-decoration: underline;
        }
        nav#fonts p#rubik {
          font-size: 1rem !important;
          padding: 2.5px 0 !important;
        }
      }
    }
  }
  &.black {
    nav#themes p#black {
      text-decoration: underline;
    }
  }
  &.dark {
    nav#themes p#dark {
      text-decoration: underline;
    }
  }
  &.light {
    nav#themes p#light {
      text-decoration: underline;
    }
  }
}
// Stuff
body {
  > * {
    @include media-query-max(300px) {
      display: none !important;
    }
  }
  section.stuff {
    align-items: center;
    display: flex !important;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include media-query-min(301px) {
      clip: rect(1px, 1px, 1px, 1px);
      display: none !important;
      height: 1px; width: 1px;
      overflow: hidden;
      position: absolute !important;
    }
    p {
      font-size: 1.7rem;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    p.small {
      @extend %flex;
      @include media-query-max(195px) {
        display: none;
      }
    }
    p.smaller {
      @extend %none;
      @include media-query-max(195px) {
        display: flex;
      }
    }
  }
}