// Portfolio
ul#portfolio {
  @extend %flex;
  flex-wrap: wrap;
  @extend %content-space-between;
  padding: 0;
  h3 {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    max-width: 300px;
    padding: 0;
    h4, p {
      margin-bottom: 13px;
    }
    h4 a {
      @extend %decoration-none;
    }
  }
}
// List
main.list {
  min-height: calc(100vh - 198px);
  h1.page-title {
    margin-bottom: 15px;
  }
  nav.all-tags {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-center;
    margin-bottom: 20px;
    width: auto;
    p.tag {
      margin-right: 15px;
      font-style: italic;
    }
  }
  section.year-container {
    @extend %content-space-between;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-flex-start;
    margin-bottom: 15px;
    &:nth-child(n+2) {
      @include color(border-top-color, meta);
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 15px;
    }
    h3 {
      margin: 0;
      &.list-date {
        width: 85px;
        @include media-query-max(590px) {
          @include color(border-bottom-color, meta);
          border-bottom-style: solid;
          border-bottom-width: 1px;
          margin-bottom: 15px;
          padding-bottom: 15px;
          width: 100%;
        }
      }
    }
    .posts-list {
      @extend %full-width;
      max-width: 700px;
      article.list-item:last-child,
      article.list-item section.info {
        margin-bottom: 0;
      }
    }
    ul.posts-list {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-flex-start;
      max-width: 100%;
      padding: 0;
      li.post-tag {
        font-size: 20px;
        font-weight: bold;
        list-style-type: none;
        margin: 15px 0;
        text-transform: capitalize;
      }
    }

  }
  article {
    section.extra {
      @extend %content-space-between;
      @extend %flex;
      @extend %flex-wrap;
      @extend %full-width;
      @extend %items-center;
      grid-row: 5;
      @include media-query-max(900px) {
        grid-column: 1/3;
      }
      @include media-query-max(440px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        a.purchase {
          margin-bottom: 15px;
        }
      }
      p.tag {
        @include media-query-max(900px) {
          grid-column: 1/2;
        }
      }
    }
  }
}
// About
div.about-container {
  @extend %content-flex-start;
  @extend %flex;
  @extend %items-flex-start;
  margin-bottom: 25px;
  img#avatar {
    margin-right: 50px;
    min-width: 200px;
    width: 200px;
    @include media-query-max(670px) {
      margin: 0 0 20px;
    }
  }
  div {
    @extend %full-width;
    max-width: 650px;
    @include media-query-max(670px) {
      max-width: 100%;
    }
  }
  @include media-query-max(670px) {
    flex-direction: column;
    margin: 0;
  }
}
ul.portfolio {
  @extend %content-space-between;
  @extend %flex;
  @extend %flex-wrap;
  @extend %items-center;
  margin: 0;
  padding: 0;
  @include media-query-max(670px) {
    justify-content: center;
  }
  li.projects {
    list-style: none;
    margin: 10px;
    min-height: 280px;
    figure {
      height: auto;
      min-height: 180px;
      width: 300px;
    }
    h3 {
      @extend %full-width;
      max-width: 300px;
      text-align: center;
      // a {
      //   @extend %decoration-none;
      //   @include color(color, text);
      //   &:hover {
      //     @include color(color, link);
      //   }
      // }
    }
  }
}
// Bookmarks
nav.categories {
  input {
    @extend %none;
    &:checked ~ label {
      @include color(color, meta);
    }
  }
  label {
    cursor: pointer;
  }
}
ul#bookmarks {
  @include color(border-top-color, meta);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 0;
  li#record {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-center;
    @include color(border-bottom-color, meta);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    @include media-query-max(480px) {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
    > * {
      margin: 0;
      padding: 0 5px;
      @include media-query-max(825px) {
        margin-bottom: 2px;
        padding: 0 !important;
        width: 100%;
      }
    }
    a.title {
      @extend %full-width;
      @extend %no-decoration;
      padding-left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 450px;
    }
    p.creator {
      font-style: italic;
      width: 335px;
    }
    p.category {
      @include color(color, meta);
      text-align: end;
      width: 100px;
      span {
        @include color(color, link);
      }
      @include media-query-max(925px) {
        text-align: start;
      }
    }
  }
}
// Tags
p.tag {
  margin: 0;
}
// Paginator
nav.paginate {
  a {
    height: 35px;
    &.page-next {
      margin-left: auto;
    }
    &.page-prev {
      margin-right: auto;
    }
    svg {
      height: 35px;
      width: auto;
    }
  }
}
// 404
a.back-home {
  @extend %flex;
  @extend %items-center;
  @extend %decoration-none;
  svg {
    height: 38px;
    margin-right: 10px;
    width: auto;
  }
  p {
    font-size: 40px; 
    line-height: 60px;
    @include media-query-max(675px) {
      font-size: 30px;
      line-height: 50px;
    }
    @include media-query-max(420px) {
      font-size: 28px;
      line-height: 40px;
    }
    @include media-query-max(375px) {
      font-size: 25px;
    }
  }
}
main.err-404 {
  @extend %content-space-around;
  @extend %flex;
  @extend %flex-column;
  @extend %items-center;
  height: calc(100vh - 90px);
  h1 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  }
  img {
    height: auto;
    max-width: 650px;
    width: 100%;
  }
}
// Footer
footer#footer {
  flex-direction: column;
  min-height: 124px;
  padding-bottom: 30px !important;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %content-center;
    max-width: 100px;
    min-height: 30px;
    width: 100%;
    a,
    a svg {
      height: 30px;
      width: 30px;
    }
    a svg {
      margin: 0;
    }
    a.email {
      svg g path {
        fill: transparent;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      a {
        margin: 0 15px;
      }
    }
  }
  section.copy {
    @extend %flex;
    margin-top: 30px;
    max-width: 315px;
    @include media-query-max(345px) {
      font-size: 17px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      @include media-query-max(345px) {
        font-size: 17px;
      }
    }
  }
}
// Theme Switcher
body {
  button#theme-switcher {
    @extend %content-center;
    @extend %flex;
    @extend %items-center;
    background: none;
    border: none;
    bottom: 15px;
    flex-direction: column-reverse;
    outline: none;
    padding: 0;
    position: fixed;
    right: 15px;
    width: 37px;
    z-index: 10;
    input#palette {
      @extend %none;
      &:checked ~ #themes {
        height: 102px;
        padding: 10px 0;
      }
    }
    nav#themes {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-center;
      height: 0;
      overflow: hidden;
      padding: 0;
      transition: all 0.3s ease;
      width: 37px;
      p {
        @include color(color, link);
        cursor: pointer;
        font-size: 15px;
        padding: 5px 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    label {
      height: 25px;
      width: 25px;
      svg {
        @include color(fill, button);
        height: 25px;
        width: 25px;
      }
    }
  }
}
// Stuff
body {
  > * {
    @include media-query-max(300px) {
      display: none !important;
    }
  }
  section.stuff {
    align-items: center;
    display: flex !important;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include media-query-min(301px) {
      clip: rect(1px, 1px, 1px, 1px);
      display: none !important;
      height: 1px; width: 1px;
      overflow: hidden;
      position: absolute !important;
    }
    h5 {
      font-size: 30px;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    h5.small {
      @extend %flex;
      @include media-query-max(195px) {
        display: none;
      }
    }
    h5.smaller {
      @extend %none;
      @include media-query-max(195px) {
        display: flex;
      }
    }
  }
}