// Portfolio
ul#portfolio {
  @extend %flex;
  flex-wrap: wrap;
  @extend %content-space-between;
  padding: 0;
  h3 {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    max-width: 300px;
    padding: 0;
    h4, p {
      margin-bottom: 13px;
    }
    h4 a {
      @extend %decoration-none;
    }
  }
}
// List
main.list {
  min-height: calc(100vh - 198px);
  h1.page-title {
    margin-bottom: 15px;
  }
  nav.all-tags {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-center;
    margin-bottom: 20px;
    width: auto;
    p.tag {
      margin-right: 15px;
      font-style: italic;
      span {
        @include color(color, meta);
      }
    }
  }
  section.year-container {
    @extend %content-space-between;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-flex-start;
    margin-bottom: 15px;
    &:nth-child(n+2) {
      @include color(border-top-color, meta);
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 15px;
    }
    h2 {
      margin: 0;
      &.list-date {
        width: 85px;
        @include media-query-max(590px) {
          @include color(border-bottom-color, meta);
          border-bottom-style: solid;
          border-bottom-width: 1px;
          margin-bottom: 15px;
          padding-bottom: 15px;
          width: 100%;
        }
      }
    }
    .posts-list {
      @extend %full-width;
      max-width: 700px;
      article.list-item:last-child,
      article.list-item section.info {
        margin-bottom: 0;
      }
    }
    ul.posts-list {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-flex-start;
      max-width: 100%;
      padding: 0;
      li.post-tag {
        font-size: 1.1rem;
        font-weight: bold;
        list-style-type: none;
        margin: 15px 0;
        text-transform: capitalize;
      }
    }

  }
  article {
    section.extra {
      @extend %content-space-between;
      @extend %flex;
      @extend %flex-wrap;
      @extend %full-width;
      @extend %items-center;
      grid-row: 5;
      @include media-query-max(900px) {
        grid-column: 1/3;
      }
      @include media-query-max(440px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        a.purchase {
          margin-bottom: 15px;
        }
      }
      p.tag {
        @include media-query-max(900px) {
          grid-column: 1/2;
        }
      }
    }
  }
}
// About
div.about-container {
  @extend %content-flex-start;
  @extend %flex;
  @extend %items-flex-start;
  margin-bottom: 25px;
  img#avatar {
    margin-right: 50px;
    min-width: 200px;
    width: 200px;
    @include media-query-max(670px) {
      margin: 0 0 20px;
    }
  }
  div {
    @extend %full-width;
    max-width: 650px;
    @include media-query-max(670px) {
      max-width: 100%;
    }
  }
  @include media-query-max(670px) {
    flex-direction: column;
    margin: 0;
  }
}
ul.portfolio {
  @extend %content-space-between;
  @extend %flex;
  @extend %flex-wrap;
  @extend %items-center;
  margin: 0;
  padding: 0;
  @include media-query-max(670px) {
    justify-content: center;
  }
  li.projects {
    list-style: none;
    margin: 10px;
    min-height: 280px;
    figure {
      height: auto;
      min-height: 180px;
      width: 300px;
    }
    h3 {
      @extend %full-width;
      max-width: 300px;
      text-align: center;
    }
  }
}
// Bookmarks
nav.categories {
  div.tag {
    @extend %content-center;
    @extend %flex;
    @extend %items-center;
    margin-right: 15px;
    > * {
      font-style: italic;
    }
    span {
      @include color(color, meta);
      margin: 0;
    }
    input {
      @extend %none;
      &:checked ~ label {
        text-decoration: underline;
      }
    }
    label {
      @include color(color, link);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
ul#bookmarks {
  @include color(border-top-color, meta);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 0;
  nav.sorting,
  li#record {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-center;
    @include color(border-bottom-color, meta);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    padding: 5px;
    @include media-query-max(480px) {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
    > * {
      @extend %full-width;
      margin: 0;
      padding: 0 5px;
      &:nth-child(1) {
        @extend %no-decoration;
        padding-left: 0;
        max-width: 450px;
        @include media-query-max(925px) {
          max-width: 100%;
        }
      }
      &:nth-child(2) {
        max-width: 335px;
        @include media-query-max(925px) {
          max-width: 434px;
        }
      }
      &:nth-child(3) {
        text-align: start;
        max-width: 100px;
      }
      @include media-query-max(925px) {
        padding: 0 !important;
      }
      @include media-query-max(573px) {
        max-width: 100% !important;
      }
    }
  }
  nav.sorting {
    @include color(background-color, meta);
    p {
      @include color(color, background);
      cursor: pointer;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  li#record {
    list-style-type: none;
    a.title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    p.category {
      @include color(color, meta);
    }
  }
}
// Tags
p.tag {
  margin: 0;
}
// Footnotes
sup.footnote-ref {
  a {
    @extend %no-decoration;
    font-size: 0.85rem;
    letter-spacing: 2px;
  }
}
div.footnotes {
  p:empty {
    @extend %none;
  }
  ul {
    li {
      @extend %relative;
      font-size: 1rem;
      line-height: 20px;
      list-style-type: none;
      margin-bottom: 10px;
      &::before {
        @extend %absolute;
        @include color(color, meta);
        content: attr(data-item);
        left: -15px;
        top: 0;
      }
      a.footnote-return {
        @extend %no-decoration;
        margin-left: 5px;
      }
    }
  }
}
// Paginator
nav.paginate {
  a {
    height: 35px;
    &.page-next {
      margin-left: auto;
    }
    &.page-prev {
      margin-right: auto;
    }
    svg {
      height: 35px;
      width: auto;
    }
  }
}
// 404
a.back-home {
  @extend %flex;
  @extend %items-center;
  @extend %decoration-none;
  svg {
    height: 38px;
    margin-right: 10px;
    width: auto;
  }
  p {
    font-size: 2.2rem; 
    line-height: 3.3rem;
    @include media-query-max(675px) {
      font-size: 1.7rem;
      line-height: 2.8rem;
    }
    @include media-query-max(420px) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    @include media-query-max(375px) {
      font-size: 1.4rem;
    }
  }
}
main.err-404 {
  @extend %content-space-around;
  @extend %flex;
  @extend %flex-column;
  @extend %items-center;
  height: calc(100vh - 90px);
  h1 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-align: center;
  }
  img {
    height: auto;
    max-width: 650px;
    width: 100%;
  }
}
// Footer
footer#footer {
  @extend %content-space-between;
  @extend %full-width;
  @extend %flex-column;
  @extend %items-center;
  @extend %margin-center;
  @extend %relative;
  min-height: 160px;
  max-width: 345px;
  padding-bottom: 30px !important;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %content-center;
    max-width: 100px;
    min-height: 30px;
    width: 100%;
    a,
    a svg {
      height: 30px;
      width: 30px;
    }
    a svg {
      margin: 0;
    }
    a.email {
      svg g path {
        fill: transparent;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      a {
        margin: 0 15px;
      }
    }
  }
  section.copy {
    @extend %flex;
    max-width: 315px;
    @include media-query-max(345px) {
      font-size: .95rem;
    }
    p {
      font-size: .9rem;
      font-weight: normal;
      margin: 0;
      @include media-query-max(345px) {
        font-size: .95rem;
      }
    }
  }
}
// Theme Switcher
body {
  div#ui-options {
    @extend %content-center;
    @extend %flex;
    @extend %items-center;
    background: none;
    border: none;
    bottom: 30px;
    flex-direction: column-reverse;
    outline: none;
    padding: 0;
    position: fixed;
    right: 15px;
    width: 75px;
    z-index: 10;
    input#settings {
      @extend %none;
      &:checked ~ section.options {
        height: 162px;
        padding: 10px 0;
      }
      &:checked ~ label.gear > svg {
        @include color(fill, meta);
        transform: rotate(67.5deg);
      }
    }
    label.gear {
      @extend %content-center;
      @extend %flex;
      @extend %items-center;
      cursor: pointer;
      height: 25px;
      width: 30px;
      svg {
        @include color(fill, button);
        height: 25px;
        transition: all 0.3s ease;
        width: 25px;
        &:hover {
          @include color(fill, meta);
        }
      }
    }
    section.options {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-center;
      height: 0;
      overflow: hidden;
      padding: 0;
      transition: all 0.3s ease;
      div.divider {
        @include color(background-color, meta);
        border-radius: 5px;
        height: 1px;
        margin: 3px 0;
        width: 75px;
      }
      nav {
        @extend %content-center;
        @extend %flex-column;
        @extend %items-center;
        height: auto;
        padding: 0;
        width: 75px;
        p {
          @extend %content-center;
          @extend %flex;
          @extend %full-width;
          @extend %items-center;
          cursor: pointer;
          border-radius: 5px;
          font-size: 1rem;
          height: 22px;
          line-height: 1rem;
          margin: 2.5px 0;
          text-align: center;
          &:hover {
            text-decoration: underline;
          }
          &#rubik {
            font-family: 'Rubik', sans-serif;
            @include color(background-color, text);
            @include color(color, background);
          }
          &#dyslexic {
            @include color(background-color, text);
            @include color(color, background);
            font-family: 'Dyslexic', sans-serif;
            font-size: .9rem;
            line-height: .9rem;
            padding: 0 0 6px;
          }
          &#black {
            background-color: #000;
            color: #EB7760;
          }
          &#dark {
            background-color: #12151B;
            color: #F2815A;
          }
          &#light {
            background-color: #FFF;
            color: #A32C14;
          }
        }
      }
    }
  }
  &#rubik {
    nav#fonts p#rubik {
      text-decoration: underline;
    }
  }
  &#dyslexic {
    div#ui-options section.options nav p {
      font-size: .9rem;
      padding: 0 0 5px;
    }
    nav#fonts p#dyslexic {
      text-decoration: underline;
    }
    nav#fonts p#rubik {
      font-size: 1rem !important;
      padding: 2.5px 0 !important;
    }
  }
  &.black {
    nav#themes p#black {
      text-decoration: underline;
    }
  }
  &.dark {
    nav#themes p#dark {
      text-decoration: underline;
    }
  }
  &.light {
    nav#themes p#light {
      text-decoration: underline;
    }
  }
}
// Stuff
body {
  > * {
    @include media-query-max(300px) {
      display: none !important;
    }
  }
  section.stuff {
    align-items: center;
    display: flex !important;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include media-query-min(301px) {
      clip: rect(1px, 1px, 1px, 1px);
      display: none !important;
      height: 1px; width: 1px;
      overflow: hidden;
      position: absolute !important;
    }
    p {
      font-size: 1.7rem;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    p.small {
      @extend %flex;
      @include media-query-max(195px) {
        display: none;
      }
    }
    p.smaller {
      @extend %none;
      @include media-query-max(195px) {
        display: flex;
      }
    }
  }
}