// Reset
a,
article h2 a,
ul#portfolio h4 a {
  @include color(color, text);
}
a.back-home,
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover,
ul#portfolio h4 a:active,
ul#portfolio h4 a:hover {
  @include color(color, link);
  text-decoration: underline;
}
a svg {
  @include color(fill, text);
}
a:active svg,
a:hover svg {
  @include color(fill, link);
}
hr {
  @include color(color, border);
}
article a,
p.tag a {
  @include color(color, link);
}
p.tag {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
article p {
  line-height: 1.6rem;
}
article,
main,
nav.paginate,
ul#portfolio {
  @extend %margin-center;
  max-width: 930px;
  width: 100%;
}
blockquote {
  @include color(border-left-color, border);
  border-left-style: solid;
  border-left-width: 2px;
  margin: 0 0 15px 15px;
  padding-left: 15px;
}
code span,
figure {
  font-family: 'Plex Mono', monospace !important;
  font-size: 16px;
  line-height: 26px;
}
figure {
  @include color(background-color, contentBG);
  @include color(color, text);
}
figure,
h1, h2, h3, h4,
nav > *,
p,
.brand {
  margin: 0;
}
figure,
pre {
  border-radius: 5px;
  margin: 20px 0;
}
figcaption p {
  padding: 5px;
}
footer,
header,
nav {
  @extend %flex;
}
header {
  text-transform: uppercase;
}
header,
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h2, h3, h4 {
  margin: 10px 0;
}
img, 
svg {
  height: auto;
  width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %items-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
  padding-left: 30px;
}
ol ul {
  padding-left: 20px;
}
pre {
  padding: 50px 30px 30px;
}
.brand {
  font-size: 2.3rem;
}
.brand {
  margin-bottom: 10px;
}
.hidden {
  @extend %visually-hidden;
}
.meta {
  @include color(color, meta);
}
.none {
  display: none !important;
}