// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}
*::selection {
  @include color(background, meta);
  color: #fff;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  @include color(background-color, background);
  @include color(color, text);
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  // Themes
  &.light {
    --background: #{map-get($light, background)};
    --text: #{map-get($light, text)};
    --meta: #{map-get($light, meta)};
    --link: #{map-get($light, link)};
    --accent: #{map-get($light, accent)};
  }
  &.dark {
    --background: #{map-get($dark, background)};
    --text: #{map-get($dark, text)};
    --meta: #{map-get($dark, meta)};
    --link: #{map-get($dark, link)};
    --accent: #{map-get($dark, accent)};
  }
  .hidden {
    @extend %visually-hidden;
  }
  @media screen and (prefers-color-scheme: dark) {
    &.dark {
      --background: #{map-get($dark, background)};
      --text: #{map-get($dark, text)};
      --meta: #{map-get($dark, meta)};
      --link: #{map-get($dark, link)};
      --accent: #{map-get($dark, accent)};
    }
  }
}
a {
  @include color(color, text);
}
a.back-home,
main,
nav.paginate {
  padding: 15px;
}
a:active,
a:hover {
  @include color(color, link);
  text-decoration: underline;
}
a svg {
  @include color(fill, text);
}
a:active svg,
a:hover svg {
  @include color(fill, link);
}
main {
  @extend %margin-center;
  max-width: 930px;
  width: 100%;
}
h1, h2, h3, h4,
nav > * {
  margin: 0;
}
nav {
  @extend %flex;
}
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h2, h3, h4 {
  margin-top: 10px;
}
img, 
svg {
  height: auto;
  width: 100%;
}
nav {
  @extend %items-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
@media print {
  section.stuff,
  button#theme-switcher {
    display: none;
  }
}