// Import Dependencies
@import 'colors';
@import 'extends';
@import 'mixins';
@import 'barefoot';
@import 'syntax';
@import 'foot';
article {
  p.content {
    margin: 15px 0
  }
  section.content {
    margin: 15px 0;
    div#avatar {
      @extend %content-flex-start;
      @extend %flex;
      height: 250px;
      margin-bottom: 15px;
      width: 100%;
      svg {
        height: 250px;
        width: 185px;
      }
    }
  }
  &.book-review {
    @extend %content-space-between;
    @extend %grid;
    grid-column-gap: 10px;
    grid-template-columns: 250px 600px;
    grid-template-rows: repeat(3,auto);
    @include media-query-max(900px) {
      grid-template-columns: 150px minmax(auto,700px);
    }
    @include media-query-max(880px) {
      justify-content: center;
    }
    @include media-query-max(340px) {
      grid-template-rows: repeat(3,auto);
    }
    > * {
      grid-column: 2;
    }
    a.purchase-link {
      grid-column: 1;
      grid-row: 1/5;
      @include media-query-max(900px) {
        grid-row: 1/3;
      }
      img.cover {
        height: 250px;
        width: 250px;
        @include media-query-max(900px) {
          height: 150px;
          width: 150px;
        }
      }
    }
    section.info {
      @extend %content-flex-start;
      @extend %flex;
      @extend %flex-column;
      @extend %items-flex-start;
      grid-row: 1;
      h1.book-title {
        line-height: 2.1rem;
        margin-bottom: 5px;
        @include media-query-max(340px) {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
      p.author {
        margin-bottom: 10px;
      }
      p.author,
      time.date {
        @include media-query-max(340px) {
          font-size: .8rem;
          line-height: .8rem;
        }
      }
    }
    section.content {
      grid-row: 4;
      @include media-query-max(900px) {
        grid-column: 1/3;
      }
    }
    section.extra {
      @extend %content-space-between;
      @extend %flex;
      @extend %flex-wrap;
      @extend %full-width;
      @extend %items-center;
      grid-row: 5;
      @include media-query-max(900px) {
        grid-column: 1/3;
      }
      @include media-query-max(440px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        a.purchase {
          margin-bottom: 15px;
        }
      }
      p.tag {
        @include media-query-max(900px) {
          grid-column: 1/2;
        }
      }
    }
  }
}
// About
div.about-container {
  @extend %content-flex-start;
  @extend %flex;
  @extend %items-flex-start;
  margin-bottom: 25px;
  img#avatar {
    margin-right: 50px;
    min-width: 200px;
    width: 200px;
    @include media-query-max(670px) {
      margin: 0 0 20px;
    }
  }
  div {
    @extend %full-width;
    max-width: 650px;
    @include media-query-max(670px) {
      max-width: 100%;
    }
  }
  @include media-query-max(670px) {
    flex-direction: column;
    margin: 0;
  }
}
// Footnotes
sup.footnote-ref {
  a {
    @extend %no-decoration;
    font-size: 0.85rem;
    letter-spacing: 2px;
  }
}
div.footnotes {
  p:empty {
    @extend %none;
  }
  ol {
    li {
      @extend %relative;
      font-size: 1rem;
      line-height: 20px;
      list-style-type: none;
      list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
      margin-bottom: 10px;
      &::before {
        @extend %absolute;
        @include color(color, meta);
        content: attr(data-item);
        left: -15px;
        top: 0;
      }
      p {
        line-height: 20px;
        margin: 0;
      }
      a.footnote-return {
        @extend %no-decoration;
        margin-left: 5px;
      }
    }
  }
}