<nav class="all-tags categories">
  <div class="tag">
    <span>#</span>
    <input id="articles" type="checkbox" name="category" onclick="cat(this)">
    <label for="articles" class="category">articles</label>
  </div>
  <div class="tag">
    <span>#</span>
    <input id="comics" type="checkbox" name="category" onclick="cat(this)">
    <label for="comics" class="category">comics</label>
  </div>
  <div class="tag">
    <span>#</span>
    <input id="podcasts" type="checkbox" name="category" onclick="cat(this)">
    <label for="podcasts" class="category">podcasts</label>
  </div>
  <div class="tag">
    <span>#</span>
    <input id="tweets" type="checkbox" name="category" onclick="cat(this)">
    <label for="tweets" class="category">tweets</label>
  </div>
  <div class="tag">
    <span>#</span>
    <input id="videos" type="checkbox" name="category" onclick="cat(this)">
    <label for="videos" class="category">videos</label>
  </div>
</nav>