  <footer>
    <!-- Copyright -->
    <div>&copy{{ .Site.Copyright }}</div>
    <div>&nbsp;&ndash;&nbsp;</div>
    <!-- Link to site source code -->
    {{with .Site.Params.social}}
      <a class="nav-item" href="https://www.github.com/{{.}}/clever-laziness" target="_blank">Source</a>
    {{end}}
  </footer>

  <!-- Footnotes -->
  <script src={{ "js/highlight.pack.js" | relURL }}></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src={{ "js/barefoot.js" | relURL }}></script>
  <script>
    var lf = new BareFoot({
      scope: "article"
    });
    lf.init();
  </script>
</body>
</html>