<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body>
<div class="main">

<header>
<div class="header-bar">
  <nav class="siteTitle">
    <div>
  		<a href='{{ .Site.BaseURL }}'><img class="brand" src="img/brand.svg" /></a>
    </div>
    <div class="nav-item">
      <a class="nav-item-title" href='{{ .Site.BaseURL }}post'>{{ with .Site.Params.posts }}{{ . }}{{ else }}Posts{{ end }}</a>
  	  <a class="nav-item-title" href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
      <!-- {{with .Site.Params.twitter}}
      <a class="nav-item-title" href="https://twitter.com/{{.}}">Twitter</a>
      {{end}} -->
    </div>
  </nav>
</div>


</header>
