{{ define "main" }}
  <main class="list">
    <article class="post book-review">
      {{ $cover := resources.Get (print "img/" (.Params.cover)) | fingerprint }}
      <a class="purchase-link" href="{{ .Params.audible }}" target="_blank" rel="noopener">
        <img src="{{ $cover.Permalink }}" alt="{{ .Title }} by {{ .Params.author }}" class="cover">
      </a>
      <section class="info">
        <h1 class="title book-title">{{ .Title }}</h1>
        {{ partial "author.html" . }}
        {{ partial "read-date.html" . }}
      </section>
      <section class="content">{{ .Content }}</section>
      <section class="extra">
        {{ partial "purchase.html" . }}
        {{ $s := .Section }}
        {{ with .Params.genre }}
          <p class="tag"><span>#</span><a class="meta" href="/{{ $s }}/genre/{{ . | urlize }}">{{.}}</a></p>
        {{ end }}
      </section>
    </article>
  </main>
{{ end }}