<div id="ad" class="add-inline">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <ins class="adsbygoogle"
          style="display:block; text-align:center;"
          data-ad-layout="in-article"
          data-ad-format="fluid"
          data-ad-client="ca-pub-3427320574239181"
          data-ad-slot="2598610317"></ins>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
     <span class="add-label">Advertisement</span>
</div>