<ul id="bookmarks">
  <nav class="sorting">
    <p class="sort-item" onclick="sort('bookmarks','data-title')">Title</p>
    <p class="sort-item" onclick="sort('bookmarks','data-creator')">Creator</p>
    <p class="sort-item" onclick="sort('bookmarks','class')">Category</p>
  </nav>
  {{ range $i, $rec := .Site.Data.bookmarks.records }}
  <li id="record" class="{{ lower $rec.Category }}" data-title="{{ anchorize $rec.Title }}" data-creator="{{ anchorize $rec.Creator }}">
    <a class="title" href="{{ $rec.URL }}" target="_blank" rel="noopener">{{ $rec.Title }}</a>
    <p class="creator">{{ $rec.Creator }}</p>
    <p class="category"><span aria-hidden="true">#</span>{{ lower $rec.Category }}</p>
  </li>
  {{ end }}
</ul>